In [1]:
import numpy as np
import pandas as pd
from scipy import stats

In [3]:
data = pd.read_csv('../Islander_data.csv')
data.head()

,first_name,last_name,age,Happy_Sad_group,Dosage,Drug,Mem_Score_Before,Mem_Score_After,Diff
0,Bastian,Carrasco,25,H,1,A,63.5,61.2,-2.3
1,Evan,Carrasco,52,S,1,A,41.6,40.7,-0.9
2,Florencia,Carrasco,29,H,1,A,59.7,55.1,-4.6
3,Holly,Carrasco,50,S,1,A,51.7,51.2,-0.5
4,Justin,Carrasco,52,H,1,A,47.0,47.1,0.1

In [4]:
x = data.Mem_Score_After

In [7]:
prom = x.mean()
s = x.std(ddof=1)
rn = np.sqrt(len(x))
q = stats.norm.ppf(0.975)

In [8]:
print(f"IC 95%: ({prom-q*s/rn}, {prom+q*s/rn})")

IC 95%: (58.3963839254633, 63.448060518981166)

In [10]:
stats.t.ppf(0.975,df=14)

2.1447866879169273

In [11]:
(3.88-4)/0.2*np.sqrt(15)

-2.3237900077244524

In [12]:
#sf = P(T>t)
2*stats.t.sf(2.323, df=14)

0.03575449556790727

In [14]:
stats.norm.ppf(0.99)

2.3263478740408408